@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --color-primary: hsl(257, 40%, 49%);
  --color-secondary: hsl(300, 69%, 71%);
  --color-text: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--color-primary);
  margin: 0 4rem;
}

header {
  margin-top: 3.82rem;
}

main {
  margin-top: 6.7rem;
}

article {
  margin-top: 5.5rem;
}

h1,
p {
  color: var(--color-text);
  text-align: center;
  opacity: 95%;
}

p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 6.4rem;
  margin-bottom: 0;
}

i {
  color: var(--color-text);
  transition: color 0.25s ease-in-out;
}

nav > a {
  text-decoration: none;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ffff;
  display: inline-flex;
  height: 28px;
  justify-content: center;
  margin-right: 1rem;
  transition: border-color 0.25s ease-in-out;
  width: 28px;
}

nav > a:last-child {
  margin-right: 0;
}

a:hover {
  border-color: var(--color-secondary);
}

a:hover i {
  color: var(--color-secondary);
}

footer > p > a {
  color: var(--color-secondary);
}

footer > p > a:visited {
  color: dodgerblue;
}

.fa-facebook-f {
  font-size: 13px;
}

.fa-twitter {
  font-size: 13px;
}

.fa-instagram {
  font-size: 15px;
}

.logo {
  width: 120px;
}

.main-img {
  width: 296px;
}

.article-para {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  margin-top: 1.5rem;
}

.button_register {
  display: block;
  background: var(--color-text);
  border-radius: 20px;
  border: none;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  color: var(--color-primary);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin: 2.4rem auto 0;
  padding: 1.1rem;
  text-align: center;
  width: 200px;
  transition: all 0.25s ease-in-out;
}

.button_register:hover {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-text);
}

@media screen and (max-width: 320px) {
  body {
    margin: 1rem;
  }
}

@media screen and (min-width: 425px) {
  .main-img {
    margin: 0 auto;
    display: block;
  }

  body {
    background-size: contain;
  }
}

@media screen and (min-width: 680px) {
  .main-img {
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url("/images/bg-desktop.svg");
    margin: 0 8rem;
    background-size: initial;
  }

  header {
    margin-top: 6.4rem;
  }

  main {
    margin-top: 10rem;
    display: flex;
  }

  section {
    margin-left: 6rem;
  }

  article {
    margin-top: 3.2rem;
    padding-right: 2rem;
  }

  h1,
  p {
    text-align: left;
  }

  h1 {
    font-size: 4rem;
    line-height: 6rem;
    margin-top: 0;
  }

  nav {
    margin-top: 2.7rem;
    justify-content: flex-end;
  }

  nav > a {
    margin-right: 1.6rem;
    width: 40px;
    height: 40px;
  }

  footer > p {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .fa-facebook-f,
  .fa-twitter,
  .fa-instagram {
    font-size: 2rem;
  }

  .article-para {
    margin-top: 2.4rem;
    font-size: 18px;
    line-height: 27px;
  }

  .logo {
    width: 200px;
  }

  .main-img {
    width: 696px;
  }

  .button_register {
    border-radius: 28px;
    font-size: 1.8rem;
    line-height: 2.7rem;
    padding: 1.45rem;
    margin: 2.4rem auto 0 0;
  }
}
