@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

$font-type_header: "Poppins", sans-serif;
$font-type_text: "Open Sans", sans-serif;

$font-size-header_mobile: 2.4rem;
$font-size-header_desktop: 4rem;

$font-weight_header: 600;
$font-weight_text: 300;

$line-height-header_mobile: 3.6rem;
$line-height-header_desktop: 6rem;
